[submodule "lib/prb-test"]
	branch = release-v0
	path = lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "lib/prb-math"]
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
	branch = release-v4
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
